body{
    background: url(../images/geekbg.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
}
.wrapper{
    width: 100%;
}
.row{
    margin: 0px !important;
}
header{
    text-align: center;
    padding: 30px 0px;
    font: 62px "MuseoSans-300", Open Sans;
    color: #fff;
}
.query-enter{
   padding: 40px 20px;
   .heading{
       background: transparent;
    background-color: #b3e1e8de;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    font:30px "MuseoSans-500", Open Sans;
    color: black;
   }
   .form-outline{
    .form-control{
        padding: 20px;
    
    border-radius: 10px;
    border-color: aqua;
    background: rgba(27, 40, 53, 0.1);
    color: #fff;
    font:22px "MuseoSans-500", Open Sans;
     &::placeholder{
         color: #fff;
         font:22px "MuseoSans-500", Open Sans;
     }
    }
   }
   .select-language{
       width: 100%;
       padding: 7px;
       border-radius: 8px;
       border-color: aqua;
       background: rgba(27, 40, 53, 0.1);
       color: #fff;
       font:22px "MuseoSans-700", Open Sans;
       option{
       background-color: #0a3e64;
       font:22px "MuseoSans-700", Open Sans;
      
       }
   }
   .submit{
       width: 100%;
    border-radius: 10px;
    padding: 10px;
    background:  #0a3e64;
    border-color: aqua;
    color: #fff;
    font:22px "MuseoSans-700", Open Sans;
   }
}